In [4]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame([])
df

Empty DataFrame
Columns: []
Index: []

In [5]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.248764
1   2 -0.104675
2   3 -1.623984
3   4 -1.290981
4   5  0.762247
5   6 -0.201517
6   7 -0.377487
7   8 -0.428031
8   9 -2.635483
9  10  0.405953

In [7]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.248764  0.000000
1  2 -0.104675  0.693147
2  3 -1.623984  1.098612
3  4 -1.290981  1.386294
4  5  0.762247  1.609438

In [8]:
newcol = np.log(df['A'])
df.assign(ln_A=newcol)

    A         B      ln_A
0   1 -0.248764  0.000000
1   2 -0.104675  0.693147
2   3 -1.623984  1.098612
3   4 -1.290981  1.386294
4   5  0.762247  1.609438
5   6 -0.201517  1.791759
6   7 -0.377487  1.945910
7   8 -0.428031  2.079442
8   9 -2.635483  2.197225
9  10  0.405953  2.302585

In [13]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [15]:
df.max(axis=0)

A    10.000000
B     0.762247
dtype: float64

In [19]:
df.B.clip(lower=-3,upper=3)

0   -0.248764
1   -0.104675
2   -1.623984
3   -1.290981
4    0.762247
5   -0.201517
6   -0.377487
7   -0.428031
8   -2.635483
9    0.405953
Name: B, dtype: float64

In [20]:
df.B.abs()

0    0.248764
1    0.104675
2    1.623984
3    1.290981
4    0.762247
5    0.201517
6    0.377487
7    0.428031
8    2.635483
9    0.405953
Name: B, dtype: float64